<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>NodeLoad</title>
		<link rel="stylesheet" href="/static/css/bootstrap.min.css" />
		<link rel="stylesheet" href="/static/css/style.css" />
		<script src="/static/js/jquery-3.4.1.min.js"></script>
		<script src="/static/js/upload.js"></script>
		<script src="/static/js/search.js"></script>
		<script src="/static/js/newFolder.js"></script>
	</head>
	<body>
		<div class="container">
			
			<div class="card mt-5">
				<div class="card-header">
					<h3>Upload Files</h3>
				</div>
					<div class="card-body">
						<div class="form-group">
							<label for="subdir-select">Sub Directory</label>
							<select class="form-control" id="subdir-select" onchange="updateSubdir()">
								<option value="Videos">Videos</option>
								<option value="Deutsche Musik">Deutsche Musik</option>
								<option value="Music">Music</option>
								<option value="Books">Books</option>
							</select>
						</div>
						<form enctype="multipart/form-data" id="upload-form"> 
							<div class="form-group">
								<label class="control-label">Upload Path</label>
								<div class="form-group">
									<div class="input-group mb-3">
										<div class="input-group-prepend">
											<span class="input-group-text">
												E:/
												<span id="subdir">Videos</span>/
											</span>
										</div>

										<input type="hidden" value="" id="subdir-form" name="subdir"/>
										<input type="text" class="form-control" id="filepath" name="filepath" onfocus="search()" oninput="search()"  onblur="searchBlur()"/>
										<div id="search-results" class="search-options dropdown-menu"></div>
										
									</div>
								</div>
							</div>

							<div class="form-group">
								<label for="exampleInputFile">File Selection</label>
								<input type="file" class="form-control-file" id="file" name="file">
								<small id="fileHelp" class="form-text text-muted">Zip files are unzipped and then deleted</small>
							</div>
						</form>
						<button class="btn btn-primary" id="upload-btn">Upload</button>
					</div>
			</div>
			<!-- End Card -->

			<div class="card mt-5" id="uploading" style="display:none;">
				<div class="card-header">
					Uploading...
				</div>
				<div class="card-body" id="upload-body">
					<div class="progress">
						<div id="upload-bar" class="progress-bar progress-bar-striped progress-bar-animated"></div>
					</div>
					<div>
						<span id="upload-percentage"></span> (<span id="upload-size"></span>)
					</div>
					<div id="upload-complete">

					</div>
				</div>
			</div>
			<!-- End Card -->

			
			<div class="card mt-5">
				<div class="card-header">
					<h3>New Folder</h3>
				</div>
				<div class="card-body">
					<div class="form-group">
						<label for="folder-name">Folder Name</label>
						<input type="email" class="form-control" id="folder-name" placeholder="Folder Name" oninput="updateNewFolder()" onfocus="updateNewFolder()">
						<small class="form-text text-muted" id="folder-location"></small>
					</div>
					<button id="new-folder-btn" class="btn btn-primary" onclick="newFolder()" disabled>Create New Folder</button>
					<div class="text-success" id="folder-success"></div>
				</div>
			</div>
		
		<!-- End Container-->
		</div>
	</body>
</html>
